### Creating different data types in python

In [103]:
class Students():
    def __init__(self):
        self.name = str('John')
        self.age = int(25)
        self.marks = float(7.5)
        self.list = list(self.name)#['J','O','H','N'] 
        self.tuple = ('J','O','H','N') #tuple(self.name)
        self.set = {'J','O','H','N'} #set(self.name)
        self.dict = {self.name:[self.age,self.marks]}
p1=Students()
print((p1.name,p1.age,p1.marks,p1.list,p1.tuple,p1.set,p1.dict))
print(type(p1.name),type(p1.age),type(p1.marks),type(p1.list),type(p1.tuple),type(p1.set),type(p1.dict))

('John', 25, 7.5, ['J', 'o', 'h', 'n'], ('J', 'O', 'H', 'N'), {'J', 'N', 'H', 'O'}, {'John': [25, 7.5]})
<class 'str'> <class 'int'> <class 'float'> <class 'list'> <class 'tuple'> <class 'set'> <class 'dict'>

### Creating different operators in python

In [71]:
a=10
b=2
print(a+b,a-b,a*b,a/b,a%b,a**b,a//b) #arit/hmetic operators
a+=b  #assignment operators
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a%=b
print(a) 
a=10 
print(a==b,a!=b,a>b,a<b,a>=b,a<=b) #comparison operators
print(a==b and a>b) #logical operators
print(a==b or a>b)
print(not(a==b))
print(a is b, a is not b) #Identity operators
c = 'Python'
d = 'Python Programming'
print(c in d, c not in d) #Membership operators
print(a & b,a|b,a^b) #bitwise perators

12 8 20 5.0 0 100 5
12
10
20
10.0
0.0
False True True False True False
False
True
True
False True
True False
2 10 8

### Magic Methods

In [74]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [94]:
print(a)
print(a.__sub__(2))
print(a.__eq__(-6))
print(a.__mod__(2))
print(a.__float__())
print(type(a))
print(a.__pow__(3))
print(a.__str__())
print(isinstance(a,int))

5
3
False
1
5.0
<class 'int'>
125
5
True

### Different ways to format the string

In [106]:
print("I love"," python")
print("I love" + " python")
print("I love" + " python" + "version",3.10)
print("I love" + " python" + "version %.2f"%3.10)
print("I love %s version %.2f"%("python",3.10))
# using format positional argument
print("I love {} version {}".format("python",3.10))
print("I love {} version {}".format("python","3.10"))
print("I love {} version {:.2f}".format("python",3.10))
print("I love {1} version {0}".format("python","3.10"))
# using format keyword argument
print("I love {pl} version {version:.2f}".format(pl="python",version=3.10))
#using f-string literal
info={"pl":"python","version":3.10}
print(f"I love {info.get('pl')} version {info.get('version'):.2f}")
print(F'I love {info["pl"]} version {info["version"]:.2f}')
batch = 'ML'
print(f'I love {"javascript" if batch == "FS" else "python"}')

I love  python
I love python
I love pythonversion 3.1
I love pythonversion 3.10
I love python version 3.10
I love python version 3.1
I love python version 3.10
I love python version 3.10
I love 3.10 version python
I love python version 3.10
I love python version 3.10
I love python version 3.10
I love python

### Indexing in python

In [160]:
Countries = ["Finland","Sweden","Denmark","Netherlands","Germany","Norway","Iceland"]
print(Countries)
print(Countries.index("Sweden"))  
print(Countries[1:])           
print(Countries[:6])
print(Countries[-1])
print(Countries[-3:])
print(Countries[1::2])
print(Countries[::len(Countries)-1]) 
print(Countries[-4:-1])
print(Countries[::-1])
print(Countries[::-2])
print(Countries[1:100:2])
print(Countries[len(Countries)-1:0:2])
print(Countries[4:1:-1])
y= enumerate(Countries)
print(list(y))

['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
1
['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway']
Iceland
['Germany', 'Norway', 'Iceland']
['Sweden', 'Netherlands', 'Norway']
['Finland', 'Iceland']
['Netherlands', 'Germany', 'Norway']
['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']
['Iceland', 'Germany', 'Denmark', 'Finland']
['Sweden', 'Netherlands', 'Norway']
[]
['Germany', 'Netherlands', 'Denmark']
[(0, 'Finland'), (1, 'Sweden'), (2, 'Denmark'), (3, 'Netherlands'), (4, 'Germany'), (5, 'Norway'), (6, 'Iceland')]

### Dictionaries

In [207]:
list1=["a","b","c","d"]
list2=[1,2,3,4] 
Dict=zip(list1,list2)
print(dict(Dict))
dict1={'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict2={'e':5,'f':6,'g':7,'h':8}
dict1.update(dict2)
print(dict1)
Students=["Duy", "Laxmi","Antonio","Maria"]
Course=["Python","Database","ML"] 
new={Students[i]: Course for i in range(len(Students))}
print(new)
new.update({"Antonio":["JavaScript","Database","NodeJS"]})
print(new)
new["Antonio"].append("ReactJs")
print(new)
new["Antonio"][3] = "Vuejs"
print(new)
new.pop("Antonio")
print(new)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['Python', 'Database', 'ML'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Maria': ['Python', 'Database', 'ML']}